@media screen and (min-width: 1920px) {
    .container {
      margin: 1em 2em;
    }
  }
@media screen and (min-width: 1366px) {
    .container {
      margin: 10em 20em;
    }
  }
@media screen and (min-width: 390px) {
    html {
      width:890px;
    }
  }