{% extends 'base.html.twig' %}

{% block title %}MC - Support{% endblock %}

{% block body %}

    <h1>Support</h1>
    <p>Si vous rencontrer un problème sur le jeu/site, envoyer un tickets en sélectionnant la catégorie et en décrivant votre problème</p>

{% endblock %}
