{% extends 'base.html.twig' %}
{% block title %}Gestion utilisateur{% endblock %}
{% block content %}
    {% for user in users %}
        <p>{{user.email}}</p>
        <p>{{user.roles}}</p>
    {% endfor %}
{% endblock %}